@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your global CSS file */
.viewer-container {
  overflow: hidden;
}

.viewer-container ::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.viewer-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
